<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945357131533-ps9rs2snh53nuefpuirtla8qbem26pj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945357131533-ps9rs2snh53nuefpuirtla8qbem26pj7</string>
	<key>API_KEY</key>
	<string>AIzaSyBtjhKPItlzdPia2jfe5Ne6AAD7HZYis70</string>
	<key>GCM_SENDER_ID</key>
	<string>945357131533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b9365</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b9365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945357131533:ios:0c28fdc8f4db2c67e16a44</string>
</dict>
</plist>